{% extends 'Layout.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>{% block title %} About {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <p class="p-6 text-center text-xl bg-gray-900 text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eligendi
      veniam corrupti commodi hic quos incidunt vel minus est voluptate!
      Sapiente facilis explicabo amet, id est repellendus. Tenetur, ducimus
      repudiandae.
    </p>
    {% endblock %}
  </body>
</html>
