{% extends 'Layout.html' %} {% block title %} Update Notes {% endblock %} {%
block content %}

<div class="container bg-gray-900">
  <h1>Update Your Notes</h1>

  <form action="/update/{{data.id}}" method="POST">
    {{form.hidden_tag()}}
    <!-- title  -->
    {{form.title.label(class="mb-4 text-white")}}
    <br />
    {{form.title(class="mb-4 w-full border rounded-md",placeholder="Enter
    Title")}}
    <!-- description -->
    {{ form.description.label(class=" text-white mt-4")}}
    <br />
    {{form.description(class="mb-4 w-full border rounded-md" ,placeholder="Enter
    Description")}}
    <!-- category -->
    {{form.label.label(class="text-white mt-4")}} <br />{{form.label(class="mb-4
    border rounded-md w-full" , placeholder="Enter Category")}}
    <!-- submit button -->
    <br />
    {{form.submit(class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4
    rounded-lg cursor-pointer")}}
  </form>
</div>

{% endblock %}
