{% extends 'Layout.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Flask - Market {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>role</th>
          <th>phn</th>
        </tr>
      </thead>

      <tbody>
        {% for item in data %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.email}}</td>
          <td>{{item.date_created}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </body>
</html>
